@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

/* grids */
.row:before,
.row:after {
  content: "";
  clear: both;
  display: block; }

[class*='col-'] {
  float: left;
  margin: 0 auto; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-md-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offest-7 {
  margin-left: 58.33%; }

.col-offest-8 {
  margin-left: 66.66%; }

.col-offest-9 {
  margin-left: 75%; }

.col-offest-10 {
  margin-left: 83.33%; }

.col-offest-11 {
  margin-left: 91.66%; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff; }

nav {
  background-color: #313234;
  height: 50px;
  width: 100%;
  content: "";
  display: table;
  clear: both; }
  nav .picture {
    display: inline-block;
    float: left;
    padding: 0 10px;
    text-align: center; }
  nav ul {
    display: block;
    float: left;
    margin: 0;
    padding: 0 100px;
    list-style-type: none; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        line-height: 55px;
        color: #fff;
        padding: 0 5px;
        text-decoration: none;
        text-transform: uppercase; }
        nav ul li a:hover {
          color: #00c7e8; }

.hero {
  height: 420px;
  background: url("http://socza.no-ip.org/projects/6.2-SASS/img/laptop-big.jpg");
  background-size: cover;
  background-position: 50%; }

.slogan {
  position: relative;
  float: right;
  width: 100%;
  max-width: 500px;
  top: 140px;
  padding-left: 15px;
  background-color: rgba(67, 67, 67, 0.5); }
  .slogan h1, .slogan span {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0; }
  .slogan span {
    font-weight: 500;
    font-family: "Fredoka One", cursive; }

.services .item, .services .people .item h3, .people .item .services h3 {
  text-align: center; }
.services h3 a {
  color: #313234;
  text-transform: uppercase;
  text-decoration: none; }
  .services h3 a:hover {
    color: #00c7e8; }
  .services h3 a:hover i, .services h3 a:hover .gallery .images .layer i:last-of-type, .gallery .images .layer .services h3 a:hover i:last-of-type {
    background-color: #00c7e8; }
.services h3 i, .services h3 .gallery .images .layer i:last-of-type, .gallery .images .layer .services h3 i:last-of-type {
  background-color: #313234;
  border-radius: 15%;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px; }
.services h5 {
  padding: 0 50px;
  color: #acaead; }

.featured-jobs h1, .featured-jobs .slogan span, .slogan .featured-jobs span {
  color: #313234;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0; }
.featured-jobs p {
  color: #acaead;
  text-align: center;
  padding: 0 40px;
  margin: 0; }

.gallery .item, .gallery .people .item h3, .people .item .gallery h3 {
  text-align: center; }
.gallery .images {
  position: relative;
  display: block;
  float: left; }
  .gallery .images:hover .layer {
    display: block; }
  .gallery .images img {
    display: block;
    float: left;
    width: 100%;
    height: auto;
    text-align: center; }
  .gallery .images .layer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
    .gallery .images .layer i, .gallery .images .layer i:last-of-type {
      display: block;
      position: absolute;
      left: calc(50% - 30px);
      top: calc(50% - 5px); }
      .gallery .images .layer i:last-of-type {
        left: calc(50% + 20px);
        top: calc(50% - 5px); }

.people .item, .people .item h3 {
  text-align: center; }
  .people .item h3 {
    color: #313234; }
.people .person {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 170px;
  height: 170px;
  margin: auto; }
  .people .person:hover .layer {
    display: block; }
  .people .person:hover .desc-layer, .people .person:hover .desc-layer-webdev, .people .person:hover .desc-layer-admin {
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 30px); }
  .people .person:hover .desc-layer-webdev {
    left: calc(50% - 60px); }
  .people .person:hover .desc-layer-admin {
    left: calc(50% - 65px); }
  .people .person img {
    display: block;
    width: 100%;
    height: 170px; }
  .people .person .layer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }

.promotion {
  display: block;
  background-color: #313234; }
  .promotion .item, .promotion .people .item h3, .people .item .promotion h3 {
    text-align: center; }
  .promotion img {
    width: 260px;
    height: auto;
    margin-top: 50px;
    float: right; }
  .promotion h1, .promotion .slogan span, .slogan .promotion span {
    text-transform: uppercase;
    text-align: left;
    padding: 0 30px;
    font-size: 28px;
    font-weight: bold;
    padding-top: 50px; }
  .promotion .description, .promotion .description-small {
    display: block;
    float: left;
    text-align: left;
    padding: 0 30px;
    font-size: 13px;
    color: #acaead;
    width: 330px; }
  .promotion .description-small {
    width: 230px;
    font-style: italic; }

.stats .item, .stats .people .item h3, .people .item .stats h3 {
  text-align: center; }
.stats .info {
  display: inline-block;
  float: left;
  color: #313234;
  font-size: 35px;
  font-weight: bold;
  text-align: center; }
  .stats .info h1, .stats .info .slogan span, .slogan .stats .info span {
    margin: 0; }
  .stats .info span {
    font-size: 16px;
    text-transform: uppercase;
    color: #00c7e8; }

.contacts {
  background-color: #313234; }
  .contacts h4 {
    text-transform: uppercase; }
    .contacts h4:after {
      content: '';
      display: block;
      width: 60px;
      border-bottom: 1px solid #fff;
      position: absolute;
      left: 160px;
      top: 33px; }
  .contacts p {
    font-size: 12px;
    color: #acaead; }
  .contacts .about-us {
    padding: 0 60px;
    position: relative; }
  .contacts .get-in-touch {
    padding: 0 25px;
    position: relative; }
    .contacts .get-in-touch .name p {
      height: 40px;
      font-size: 12px;
      font-weight: bold;
      color: #eaeceb;
      margin: 0; }
    .contacts .get-in-touch .data p {
      height: 40px;
      font-size: 12px;
      width: 170px;
      padding: 0 10px;
      margin: 0; }
  .contacts .social-media {
    width: 230px;
    padding: 0 28px;
    position: relative; }
    .contacts .social-media .awesome {
      display: inline-block;
      width: 230px;
      text-align: left; }
      .contacts .social-media .awesome a {
        color: #fff;
        background-color: #00c7e8;
        border-radius: 5px;
        padding: 3px; }
        .contacts .social-media .awesome a i, .contacts .social-media .awesome a .gallery .images .layer i:last-of-type, .gallery .images .layer .contacts .social-media .awesome a i:last-of-type {
          padding: 2px; }

footer {
  background-color: #252726;
  height: 50px;
  line-height: 50px;
  color: #acaead;
  text-align: center; }

section > .container {
  margin: 50px auto; }

/*MEDIA QUERIES*/
/*devices big (desktops, monitors, tv)*/
@media (min-width: 1200px) {
  nav img {
    padding: 10px 100px; }
  nav ul {
    display: inline-block;
    float: right; }
    nav ul li {
      display: inline-block;
      float: left;
      text-align: center;
      padding: 0 13px; } }
/*devices avarages*/
@media (min-width: 992px) and (max-width: 1199px) {
  nav img {
    padding: 10px 100px; }
  nav ul {
    float: right;
    display: inline-block;
    text-align: center;
    padding-left: 130px; }
    nav ul li {
      display: inline-block;
      float: left;
      text-align: center;
      padding: 0 13px; }

  .stats .item, .stats .people .item h3, .people .item .stats h3 {
    display: inline-block;
    float: left;
    text-align: center; } }
/*devices small (tablets)*/
@media (min-width: 768px) and (max-width: 991px) {
  nav .picture {
    display: block;
    float: none;
    padding: 10px;
    width: 100%;
    text-align: center; }
  nav .menu {
    display: block;
    float: left;
    text-align: center;
    width: 100%; }
    nav .menu ul {
      display: block;
      float: left;
      text-align: center;
      width: 100%; }
      nav .menu ul li {
        display: inline-block;
        float: none;
        padding: 0 10px; }

  .gallery .item, .gallery .people .item h3, .people .item .gallery h3 {
    display: block;
    float: none;
    text-align: center;
    width: 600px; }
    .gallery .item img, .people .item .gallery h3 img {
      width: 300px;
      height: auto; }
    .gallery .item .img-big, .people .item .gallery h3 .img-big {
      width: 600px;
      height: auto; }
  .gallery .images:hover .layer {
    display: none; }

  .people {
    display: inline-block;
    float: none;
    padding: 0 100px;
    text-align: center; }
    .people .item, .people .item h3 {
      display: inline-block;
      float: none;
      text-align: center;
      width: 270px; }
    .people .person:hover .layer {
      display: none; }

  .promotion .item, .promotion .people .item h3, .people .item .promotion h3 {
    display: block;
    float: left;
    text-align: center; }
  .promotion img {
    padding: 30px;
    width: 290px;
    height: auto; }
  .promotion h1, .promotion .slogan span, .slogan .promotion span {
    padding: 30px;
    margin-top: 0;
    margin-bottom: 0; }
  .promotion .description, .promotion .description-small {
    padding: 30px;
    width: 290px;
    margin-top: -40px; }
  .promotion .description-small {
    padding: 30px;
    width: 290px;
    margin-top: -40px; }

  .stats {
    display: inline-block;
    float: none;
    padding: 0 100px;
    text-align: center; }
    .stats .item, .stats .people .item h3, .people .item .stats h3 {
      display: inline-block;
      float: none;
      text-align: center;
      width: 270px; }

  .contacts h4:after {
    display: none; }
  .contacts .item, .contacts .people .item h3, .people .item .contacts h3 {
    width: 100%;
    text-align: center; }
  .contacts .get-in-touch {
    display: inline-block;
    float: left;
    width: 350px;
    left: 100px; }
    .contacts .get-in-touch .name {
      display: inline-block;
      text-align: left;
      float: none;
      width: 45px; }
    .contacts .get-in-touch .data {
      display: inline-block;
      text-align: left;
      float: none;
      width: 150px; }
  .contacts .social-media {
    display: inline-block;
    float: right;
    width: 250px;
    right: 120px; }
    .contacts .social-media .awesome {
      display: inline-block;
      width: 200px;
      text-align: left; } }
/*devices very small (phones)*/
@media (max-width: 767px) {
  nav {
    text-align: center; }
    nav .picture {
      display: block;
      float: none;
      padding: 10px;
      width: 100%;
      text-align: center; }
    nav .menu {
      display: block;
      float: none;
      text-align: center;
      width: 100%; }
      nav .menu ul {
        display: block;
        float: none;
        text-align: center;
        width: 100%; }
        nav .menu ul li {
          display: block;
          float: none;
          font-size: 120%; }

  .services .item, .services .people .item h3, .people .item .services h3 {
    display: block;
    float: none;
    text-align: center;
    width: 300px; }

  .gallery .item, .gallery .people .item h3, .people .item .gallery h3 {
    display: block;
    float: none;
    text-align: center;
    width: 300px; }
  .gallery .images:hover .layer {
    display: none; }

  .people .item, .people .item h3 {
    display: block;
    float: none;
    text-align: center;
    width: 170px; }
  .people .person:hover .layer {
    display: none; }

  .promotion .item, .promotion .people .item h3, .people .item .promotion h3 {
    display: block;
    float: none;
    text-align: center;
    width: 290px; }
  .promotion img {
    padding: 25px;
    width: 290px;
    height: auto;
    margin: 0; }
  .promotion h1, .promotion .slogan span, .slogan .promotion span {
    padding: 25px;
    width: 290px;
    margin: 0;
    margin-top: -30px; }
  .promotion .description, .promotion .description-small {
    padding: 25px;
    width: 290px;
    height: 180px;
    margin-top: -40px; }
  .promotion .description-small {
    padding: 25px;
    width: 290px;
    height: 130px; }

  .stats .item, .stats .people .item h3, .people .item .stats h3 {
    display: block;
    float: none;
    width: 100%; }

  .contacts .item, .contacts .people .item h3, .people .item .contacts h3 {
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center; }
  .contacts h4:after {
    display: none; }
  .contacts .get-in-touch .name {
    display: inline-block;
    text-align: left;
    float: none;
    width: 50px;
    height: auto; }
  .contacts .get-in-touch .data {
    display: inline-block;
    text-align: left;
    float: none;
    width: 150px; }
  .contacts .social-media .awesome {
    display: inline-block;
    width: 220px;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
